<footer class="footer">
    <div class="footer__magicContainer"><button class="footer__button"><a href="#hero"><img class="linkImg--clickArea" src="./assets/images/ico-arrow.svg" alt="Icono Flecha Hacia Arriba" title="Volver al Inicio" class="header__button_icon"></a></button></div>
    <div class="footer__container">
      <div class="footer__item footer__item--one">
        <nav class="footer__item__nav">
          <ul class="footer__item__nav__list">
            <li><a class="link" target="_blank" href="https://adalab.es/">Articles</a></li>
            <li><a class="link" target="_blank" href="https://adalab.es/">Books</a></li>
            <li><a class="link" target="_blank" href="https://adalab.es/">Events</a></li>
            <li><a class="link" target="_blank" href="https://adalab.es/">Reasons</a></li>
            <li><a class="link" target="_blank" href="https://adalab.es/">Tips</a></li>
          </ul>
        </nav>
      </div>
        <div class="footer__item footer__item--two">
          <nav class="footer__item__nav">
            <ul class="footer__item__nav__list">
              <li><a class="link" target="_blank" href="https://adalab.es/">Twitter</a></li>
              <li><a class="link" target="_blank" href="https://adalab.es/">Instagram</a></li>
              <li><a class="link" target="_blank" href="https://adalab.es/">Mastodon.social</a></li>
          </nav>
        </div>
      <div class="footer__item footer__item--three">
        <ul class="footer__item__list">
          <li><small>&copy;2021</small></li>
          <li><small>we <span class="small__icon">❤</span> components</small></li>
        </ul>
      </div>
    </div>
  </footer>
