<header class="header">
    <nav class="header__nav"><a href="https://adalab.es/" target="_blank"><img src="./assets/images/ico-menu.svg" alt="Icono hamburguesa del navegador" title="Haz click aquí para ir a Adalab" class="header__nav__icon"></a></nav>
    <div id="hero" class="header__hero">
      <h1 class="header__hero__title"><span class="header__hero__title--span">Anonymous</span> <span class="header__hero__title--span">Proxy</span></h1>
      <h4 class="header__hero__subtitle">In hac habitasse platea dictumst.</h4>
      <button class="header__hero__button"><a href="#3reasons"><img class="linkImg--clickArea" src="./assets/images/ico-scroll-down.svg" alt="Icono Scroll Down" title="Ir al final" class="header__hero__button_icon"></a></button>
    </div>
  </header>
