<main class="main__container">
    <section class="main__item main__item__one">
      <div class="main__item--centralcolumn">
        <h4 class="main__item--subtitle">Insomnia tips</h4>
        <h2 class="main__item--title main__item__one--title">
          Looking through a window
        </h2>
        <p class="main__item--text">
          Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis,
          at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
        </p>
        <button class="main__item--button main__item__one--button">Go</button>
      </div>
    </section>
    <section class="main__item main__item__two">
      <div class="main__item--centralcolumn grid">
        <h2 id="3reasons" class="main__item--title main__item__two--title grid__item1">
          3 reasons to purchase
        </h2>
        <article class="article grid__item2">
          <h3 class="article__title">Ut sed metus</h3>
          <p class="article__text">Lorem ipsum dolor sit amet, consecteur.</p>
        </article>
        <article class="article grid__item3">
          <h3 class="article__title">Curabitur ac erat</h3>
          <p class="article__text">Mauris mattis urna quis lorem molestie.</p>
        </article>
        <article class="article grid__item4">
          <h3 class="article__title">Morbi dictum</h3>
          <p class="article__text">Aliquam in dolor et doloc tincidunt.</p>
        </article>
        <button class="main__item--button main__item__two--button grid__item5">More reasons</button>
      </div>
    </section>
  </main>
