// fonts
$font-main: "Roboto", sans-serif;
$font-slab: "Roboto Slab", serif;

// colors
$white: #ffffff;
$light-blue: #8ccbea;
$orange: #f26002;
$ice-blue: #eff9ff;
$dark-grey-blue: #304268;
$black: #000000;
$greyish-brown: #4a4a4a;

// mixins

//mixins media queries

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
  // copy pasta ;) @include tablet {}
}


@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
  // copy pasta ;) @include desktop {}
}

//mixins style

@mixin sectionTitle($font-size, $color) {
  font-size: $font-size;
  color: $color;
  font-family: $font-slab;
  font-weight: bold;
  // copy pasta ;) -> @include sectionTitle(,);
}

@mixin sText($font-size, $color) {
  font-size: $font-size;
  color: $color;
  font-family: $font-main;
  font-weight: normal;
  // copy pasta ;) -> @include sText(,);
}

@mixin scrollButton {
  height: 45px;
  width: 45px;
  border: none;
  border-radius: 50%;
  background-color: $white;
  // copy pasta ;) -> @include scrollButton;
}

@mixin linkButton($backgroundColor,$fontColor) {
  border-radius: 22.5px;
  font-size: 20px;
  font-family: $font-main;
  font-weight: 500;
  height: 45px;
  background-color: $backgroundColor;
  color: $fontColor;
  // copy pasta ;) -> @include linkButton(,);
}