// fonts
$font-main: 'Roboto', sans-serif;
$font-slab: 'Roboto Slab', serif;

// colors
$white: #ffffff;
$light-blue: #8ccbea;
$orange: #f26002;
$ice-blue: #eff9ff;
$dark-grey-blue: #304268;
$black: #000000;
$greyish-brown: #4a4a4a;

// mixins

  //mixins media queries

@mixin tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }

  //mixins style

@mixin sectionTitle($font-size, $color) {
  font-size: $font-size;
  color: $color;
  font-family: $font-slab;
  font-weight: bold;
  // copy pasta ;) -> @include sectionTitle();
}