//general

/*.main__container {
position: relative;
}*/

.main__item {
  &--centralcolumn {
    margin-left: 15px;
    margin-right: 15px;
    @include tablet {
      margin-left: 40px;
      margin-right: 40px;
    }
    @include desktop {
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &--title {
    @include sectionTitle(30px, $black);
    line-height: 30px;
    text-transform: capitalize;
    @include tablet {
      font-size: 26px;
      line-height: 45px;
    }
    @include desktop {
      font-size: 32px;
    }
  }
  // item one specific styles
  &__one {
    @include desktop {
      max-width: 730px;
      margin-left: auto;
      margin-right: auto;
    }
    &--button {
      @include linkButton($white, $orange);
      width: 76px;
      margin-top: 30px;
      margin-bottom: 45px;
      border: solid 2px $orange;
      &:hover {
        transition: 0.3s;
        background-color: $orange;
        color: $white;
        transform: scale(1.1);
      }
      @include tablet {
        width: 91px;
        margin-bottom: 60px;
      }
      @include desktop {
        width: 160px;
      }
    }
    &--title {
      margin-top: 1px;
      @include tablet {
        margin-top: 0px;
      }
    }
  }
  &--subtitle {
    @include sText(14px, $light-blue);
    margin-top: 30px;
    line-height: 30px;
    @include desktop {
      font-size: 16px;
      margin-top: 60px;
    }
  }
  &--text {
    @include sText(18px, $greyish-brown);
    line-height: 30px;
    margin-top: 15px;
    @include tablet {
      font-size: 20px;
      margin-top: 30px;
    }
  }
  // item two specific styles
  &__two {
    background-color: $ice-blue;
    &--title {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 45px;
      @include tablet {
        line-height: 45px;
      }
      @include desktop {
        margin-top: 60px;
      }
    }
    &--button {
      @include linkButton($orange, $white);
      width: 184px;
      margin-right: auto;
      margin-left: auto;
      border: 0;
      text-transform: capitalize;
      &:hover {
        transition: 0.3s;
        background-color: $white;
        color: $orange;
        border: solid 2px $orange;
        transform: scale(1.07);
      }
      @include tablet {
        width: 210px;
        margin-top: 60px;
        margin-bottom: 60px;
      }
      @include desktop {
        width: 255px;
      }
    }
  }
}
//grid and grid media queries
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 105px 138px 138px 138px 105px;
  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 1fr 165px;
    column-gap: 27.7px;
  }
  @include desktop {
    grid-template-rows: 150px 1fr 165px;
  }
  &__item1 {
    @include tablet {
      grid-column: span 3;
    }
  }
  &__item5 {
    @include tablet {
      grid-column: span 3;
    }
  }
}
//article specific styles
.article {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 184px;
  @include tablet {
    width: 100%;
    margin: 0;
  }
  &__title {
    @include sectionTitle(18px, $black);
    line-height: 30px;
    @include tablet {
      font-size: 24px;
      margin-bottom: 14px;
    }
  }
  &__text {
    @include sText(18px, $black);
    line-height: 30px;
    @include tablet {
      font-size: 20px;
    }
    @include desktop {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
}
