@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';

.header {
    width: 100%;
    height: 100vh;
    &__nav {
        position: fixed;
        height: 45px;
        width: 45px;
        background-color:#0271bc;
        text-align: center;
        &__icon {
            margin-top: 15.5px;
            margin-bottom: 15.5px;
        }
    }
    &__container {
        background-image: url(".././images/cover.jpg");
        background-size: auto 100%;
        background-position: center;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    &__title {
        color: $white;
        font-family: $font-slab;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__subtitle {
        color: $white;
        font-family: $font-main;
        font-weight: normal;
        margin-bottom: 45px;
    }
    &__button {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        text-align: center;
        margin-bottom: 53px;
    }
}
.main__container {
    position: relative;
}